.BlockLinks2Mi1{
    background: #1E3053;
    height: 50px;
    width: 100%;
}
.BlockLinks2Min1{
    display: flex;
    width: 97%;
    margin: auto;
    max-width: 1130px;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.BlockLinks2Title{
    text-align: center;
    color: #fff;
    margin: 0px;
    font-size: 18px;
}
