.katalogBlockTitleAll{
    font-size: 25px;
    margin-bottom: 40px;
}
.katalogBlockAll{
    padding-top: 50px;
    display:flex;
    width: 97%;
    margin: auto;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1170px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.katalogBlockAllItem{
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto auto;
}
.katalogBlocksItem{
    transition: all 0.5s;
    border: 10px solid #fff;
    width: 260px;
    height: 470px;
    border-radius: 10px;
}
.katalogBlocksItem:hover{
    transition: all 0.5s;
    border: 10px solid #f6f7f8db;
    -webkit-box-shadow: 3px 3px 8px 3px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 3px 3px 8px 3px rgba(34, 60, 80, 0.2);
box-shadow: 3px 3px 8px 3px rgba(34, 60, 80, 0.2);
}
.katalogBlockImg{
    max-width: 260px;
    max-height: 260px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.katalogBlockTitle {
    text-align: center;
    font-size: 17px;
    height: 44px;
    color: #333333;
}
.katalogBlockPrase{
    text-align: center;
    font-size: 19px;
    color: #333333;
}
.katalogBlockBtn{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    padding: 15px;
    width: 96%; 
    font-size: 16px;
    color: #fff;
    background: #1E3053;
    border: 1px solid #1E3053;
    border-radius: 5px;
    transition: all 0.3s;
}
.katalogBlockBtn:hover{
    transform: scale(0.94);
    color: #1E3053;
    background: #fff;
    transition: all 0.3s;
}

@media screen and (max-width:1200px){
    .katalogBlockAllItem{
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:920px){
    .katalogBlockAllItem{
        display: flex;
        gap: 15px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:650px){

}