.SmartphoneBlock{
    padding-top: 50px;
    display:flex;
    width: 97%;
    margin: auto;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1170px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.SmartphoneBlockText{
    font-size: 17px;
    color: #333333;
}

@media(max-width:350px){
    .SmartphoneBlockText{
        font-size: 15px;
    }
    .SmartphoneBlock{
        width: 93%;
    }
}