.BlockAuthorizationRegistration{
    padding-top: 50px;
    display: flex;
    width: 97%;
    margin: auto;
    max-width: 1170px;
    padding-left: 10px;
    padding-right: 10px;
    height: 330px;
    flex-direction: row;
    justify-content: space-between;
}
/* Login1 */
.BlockRegistrationMin1{
    display: flex;
    max-width: 500px;
    height: 280px;
    flex-direction: column;
    width:100%;
}
.BlockRegistrationMin1Form{
    display: flex;
    flex-direction: column;   
}
.RegistrationMin1Title{
    font-size: 25px;
    margin-bottom: 40px;
}
.RegistrationMin1Input{
    border: none;
    border-bottom: 1px solid;
    font-size: 17px;
    background: none;
    margin-top: 10px;
    padding: 15px;
}
.RegistrationMin1InputBtn{
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    width: 40%; 
    font-size: 16px;
    color: #fff;
    background: #1E3053;
    border: 1px solid #1E3053;
    border-radius: 5px;
    transition: all 0.3s;
}
.RegistrationMin1InputBtn:hover{
    transform: scale(0.94);
    color: #1E3053;
    background: #fff;
    transition: all 0.3s;
}
/* Login2 */
.BlockRegistrationMin2{
    display: flex;
    max-width: 450px;
    flex-direction: column;
    width:100%;
    padding: 50px 60px;
    box-shadow: 2px 4px 11px #e9e9e9;
}
@media(max-width:1200px) {
    .BlockAuthorizationRegistration{
        height: auto;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .BlockRegistrationMin1 {
        display: flex;
        max-width: 500px;
        min-height: 280px;
        height: auto;
        flex-direction: column;
        width: 100%;
    }
}
@media(max-width:500px){
    .BlockAuthorizationRegistration {
        width: 93%;
    }
    .RegistrationMin1InputBtn {
        width: 60%;
    }
}
/* *{
    outline: 4px solid green !important;
} */
