.favModalBlock{
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    padding-top: 10px;
    justify-content: center;
    transition: all 0.3s;
    top: 0;
    left: 0;
    right: 0;
}
.favModalBlockTitle{
    transition: all 0.3s;
    padding: 10px;
    max-width: 330px;
    color: green;
    width: 100%;
    background: #eaeaea;
    box-shadow: 1px 4px 11px #eaeaea;
    border-radius: 10px;
    text-align: center;
} 